.whatwedidtoday {
    color: #D2691E;
    font-size: 18px;
    }

.mainheading {
    font-size: 28px;
    color: red
}
ol {
    color: #BA55D3
}
ul {
    color: red
}
html {
    background-color: #90EE90;
}
